* {
  margin: 0;
  padding: 0;

}

h1 {
  align-items: center;
  color: #e36414;
  display: flex;
  justify-content: center;
  padding: 4px;
  text-shadow: 1px 1px  #0f4c5c;
  width: 70%;
}

.section-text-inputs {
  align-items: center;
  background-color: #9a031f97;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

}

.main-login-container {
  align-items: center;
  background-image: url('./backgrounds/wallpaper2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  /* opacity: 0.9; */

}

.login-card {
  width: 60%;

}

.submit-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px;


}

.input-login {
  background-color: #9a031e;
  border-color: #9a031f97;
  margin: 4px;
}

