* {
  margin: 0;
  padding: 0;

}

h1 {
  align-items: center;
  color: #e36414;
  display: flex;
  justify-content: center;
  padding: 4px;
  text-shadow: 1px 2px  #0f4c5c;
  width: 100%;
}

.section-text-inputs {
  align-items: center;
  background-color: #e36314a0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.main-login-container {
  align-items: center;
  background-image: url('./backgrounds/wallpaper2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  /* opacity: 0.9; */

}

.login-card {
  width: 80%;

}

.submit-btn :disabled {
  align-items: center;
  background-color: #0f4d5cb1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.enterButton :enabled {
  align-items: center;
  background-color: #0f4c5c;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.input-login {
  background-color: #ed955fd9;
  border-color: #e36314d9;
  border-radius: 6px;
  color: white;
  margin: 4px;
}

