.recipes-main-container {
  align-items: center;
  background-color: #9a031e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.filter-btn-container {
  flex-direction: row;
  margin: 4px;
}

.recipe-card {
  background-color: #e36314a0;
  border-radius: 6px;
  padding: 10px;
}
